# Binaries
bin/
main

# Environment
.env

# Dependencies
vendor/

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Docker
.docker_temp/

# Secrets
*secrets.yaml
*secret.yaml
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
monitoring/discord-secret.yaml